/* Variables & General Page Styling */
:root {
    --raspberry: #DB2955;
    --gunmetal: #183642;
    --spaceCadet: #313d5a;
    --lavenderBlue: #CBC5EA;
    --platinum: #EAEAEA;
    --celadonGreen: #048A81;
    font-size: 16px;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.defaultBody {
    box-sizing: inherit;
    background-color: var(--gunmetal);
    background: rgb(24,54,66);
    background: radial-gradient(circle, rgba(24,54,66,1) 0%, rgba(22,33,40,1) 100%);
}

.postAnimationBody {
    box-sizing: inherit;
    background-color: var(--raspberry);
}

/* Header & Nav Toolbar */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
}

.toolBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
}

.toolBar > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    width: 40%;
}

.divider {
    border-left: 2px solid var(--raspberry);
}

.dividerAfter {
    border-left: 2px solid var(--gunmetal);
}

.logoContainer {
    padding-top: 11.5px;
    padding-left: 15px;
}

.logoLink {
    text-decoration: none;
}

.inputContainer {
    padding-top: 15px;
    padding-right: 15px;
}

.searchBar {
    background-color: transparent;
    border: none;
    border-bottom: 1px var(--platinum) solid;
    color: var(--platinum);
    width: 87.5px;
}

.searchBar:hover {
    opacity: .75;
}

.searchBar:active, 
.searchBar:focus {
    outline: none;
}

.searchBar::placeholder {
    color: var(--platinum);
}

.searchBar:focus::placeholder {
    color: transparent;
}

.toolbarTitle {
    color: var(--raspberry);
    font-size: 22px;
}

.toolbarTitleAfter {
    color: var(--gunmetal);
    font-size: 22px;
}

.toolbarMovie {
    color: var(--platinum);
}

/* Toolbar Buttons */
.toolbarButtons {
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    background-color: transparent;
    color: var(--raspberry);
    font-size: 20px;
    width: 100px;
    height: 32.5px;
}

.toolbarButtons:hover {
    color: var(--platinum);
    font-weight: bold;
}

.toolbarButtons:active,
.toolbarButtons:focus {
    outline: none;
    border: none;
}

/* Toolbar Buttons After Moviemode Animation */
.toolbarButtonsAfter {
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    background-color: transparent;
    color: var(--gunmetal);
    font-size: 20px;
    width: 100px;
    height: 32.5px;
}

.toolbarButtonsAfter:hover {
    color: var(--platinum);
    font-weight: bold;
}

.toolbarButtonsAfter:active,
.toolbarButtonsAfter:focus {
    outline: none;
    border: none;
}

/* Main Page Content */
.content {
    margin-top: -4px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.raspberryBody {
    background-color: var(--raspberry);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.raspberryFooter {
    background-color: var(--raspberry);
    bottom: 0;
    width: 100%;
    height: 20%;
    position: absolute;
}

.centralContentContainer {
    background-color: var(--raspberry);
    margin-top: -50px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.svgContainer {
    width: 100%;
    background-color: transparent;
    margin-bottom: -4px;
}

/* Movie Mode Elements */ 
.movieModeContainer {
    opacity: 0;
    margin: 5%;
    width: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.moviePosters {
    background-color: white;
    width: 200px;
    height: 300px;
    margin: 15px;
}

/* Animations */
@keyframes moveUp {
    0% {
        margin-top: 0px;
        opacity: 1;
    }
    50% {
        opacity: 0.97;
    }
    100% {
        margin-top: -700px;
        opacity: 0;
    }
}

#animationUp {
    animation: moveUp 500ms forwards ease;
}

@keyframes posterUp {
    0% {
        margin-top: 500px;
        opacity: 0;
    }
    100% {
        margin-top: 0px;
        opacity: 1;
    }
}

#posterAnimationUp {
    animation: posterUp 500ms forwards;
}

/* Title, Description and Movie Button */
.mainTitle {
    color: var(--gunmetal);
    font-size: 10rem;
}

.movie {
    color: var(--platinum);
}

.description {
    color: var(--platinum);
}

.viewMoviesButton {
    background-color: var(--platinum);
    border: none;
    text-transform: uppercase;
    margin-top: 20px;
    padding: 2.5px 15px;
    font-weight: bold;
    color: var(--raspberry);
    border-radius: 2px;
}

.viewMoviesButton:hover {
    background-color: var(--gunmetal);
    color: var(--platinum);
}
.viewMoviesButton:active,
.viewMoviesButton:focus {
    border: none;
    outline: none;
}