/* Variables & General Page Styling */
:root {
    --raspberry: #DB2955;
    --gunmetal: #183642;
    --spaceCadet: #313d5a;
    --darkSpaceCadet: #232b40;
    --midSpaceCadet: #465780;
    --lavenderBlue: #CBC5EA;
    --mixSpaceCadet: #5b7189;
    --platinum: #EAEAEA;
    --celadonGreen: #048A81;
    --modifiedSpaceCadet: #9cc3d2;
    font-size: 16px;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Body Styling*/

body, html {
    box-sizing: inherit;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

/* Mobile hamburger menu */
    
    .mobileSearch__hamburger {
        width: fit-content;
        margin: 7.5px 10px;
        padding: 1px 0px;
        max-width: 80px;
        height: 22.5px;
        padding-top: 1px;
        cursor: pointer;
        transition: all 300ms ease;
    }
    
    .hamburger__bar {
        display: block;
        width: 30px;
        height: 2px;
        background-color: black;
        transition: all 300ms ease;
    }

    .hamburger__bar:not(:nth-child(1)) {
        margin-top: 6px;
    }
    
    .hamburger__bar:nth-child(2) {
        transform: translateX(-8px);
    }
    
    /* Mobile hamburger menu (.active) */

    .hamburger__bar.active:nth-child(1) {
        transform: rotate(405deg) translateY(11px)
    }
    
    .hamburger__bar.active:nth-child(2) {
        transform: translateX(4px);
        opacity: 0;
    }
    
    .hamburger__bar.active:nth-child(3) {
        transform: rotate(-45deg) translateY(-11px)
    }

    /* Navbar */

    .navbar {
        width: 100%;
    }

    /* Movie Div */

    .movies {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        transition: all 300ms ease;
    }

    .moviePosters {
        margin: 5px 5px 0px 5px;
    }

    .moviePosters img:hover {
        transform: scale(1.035);
        transition: all 300ms ease;
        box-shadow: 0 0 1px 1px rgba(0,0,0,0.04), 
        0 0 2px 2px rgba(0,0,0,0.03), 
        0 4px 4px rgba(0,0,0,0.02), 
        0 6px 8px rgba(0,0,0,0.02);
    }

    .movieModeContainer.viewing {
        transition: all 300ms ease;
        width: 100%;
        height: 100%;
        background-color: rgba(215,215,215,0.7);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .moviePosters.viewing {
        width: 90%;
        height: 90%;
        background-color: rgba(215,215,215);
    }

    .viewmode {
        width: 100%;
        height: 100%;
        background-color: rgba(215,215,215,0.7);
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .viewmode__card {
        width: 90%;
        height: 80%;
        background-color: rgba(215,215,215);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .viewmode__poster {
        margin: 20px;
        border: red 2px solid;

    }

    .viewmode__info {
        border: red 2px solid;
    }