/* Animations */

@keyframes moveUp {
    0% {
        margin-top: 0px;
        opacity: 1;
    }
    50% {
        opacity: 0.97;
    }
    100% {
        margin-top: -700px;
        opacity: 0;
    }
}

#animationUp {
    animation: moveUp 500ms forwards ease;
}

@keyframes posterUp {
    0% {
        margin-top: 500px;
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    100% {
        margin-top: 0px;
        opacity: 1;
    }
}

#posterAnimationUp {
    animation: posterUp 500ms forwards;
}