/* Movie Mode Elements */ 
.content__container {
    margin: 5px;
    width: auto;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
}

.moviePosters {
    margin: 15px;
    width: fit-content;
}