/* Variables & General Page Styling */
:root {
    --raspberry: #DB2955;
    --darkRaspberry: #C02148;
    --gunmetal: #183642;
    --spaceCadet: #313d5a;
    --darkSpaceCadet: #232b40;
    --midSpaceCadet: #465780;
    --lavenderBlue: #CBC5EA;
    --mixSpaceCadet: #5b7189;
    --platinum: #EAEAEA;
    --celadonGreen: #048A81;
    --modifiedSpaceCadet: #9cc3d2;
    font-size: 16px;
}