.viewmode {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0.85;
        background: rgb(219,41,85);
        background: linear-gradient(270deg, rgba(219,41,85,1) 0%, rgba(219,41,85,0) 100%);
        transition: all 250ms ease-in-out;
        pointer-events: none;
    }

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0.3;
        background: rgb(0, 0, 0);
    }
}

.viewmode__card {
    width: 93%;
    max-width: 1200px;
    height: fit-content;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    color: white;
}

.viewmode__poster {
    width: fit-content;
    height: fit-content;
    margin: 20px;
    border-radius: 15px;
    overflow: hidden;
    min-width: 340px;
    max-height: 510px;
}

.viewmode__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
    margin-right: 20px;
    font-size: 1.3rem;
}

.info__title {
    font-size: 4.5rem;
    text-transform: uppercase;
    font-weight: bold;
}


.rating {
    font-size: 1.45rem;
    width: 125px;
    display: flex;
    min-width: fit-content;
    justify-content: space-between;

    .ratingbox {
        width: 75px;
        height: 35px;
        background-color: var(--raspberry);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        padding-top: 3px;
        margin-right: 12.5px;
    
        .fa-star {
            font-size: 1.2rem;
            margin-right: 3px;
            margin-bottom: 4px;
        }
    }

    .info__numberofratings {
        text-align: center;
        display: flex;
        align-items: center;
        font-size: 1.1rem;
    }
}

.viewmode__exitbutton {
    width: fit-content;
    position: absolute;
    width: 35px;
    height: 35px;
    display: flex; 
    justify-content: center;
    align-items: center;
    cursor: pointer;
    top: -30px;
    left: 20px;
    font-size: 2rem;
    transition: all 300ms ease;
}

.viewmode__buttoncontainer {
    color: white;
    margin-top: 15px;

    .viewmode__buttontrailer {
        width: 190px;
        height: 50px;
        background-color: var(--raspberry);
        border: 1px var(--raspberry) solid;
        border-radius: 4px;
        color: white;
        font-size: 1.2rem;
        margin-right: 10px;
        cursor: pointer;
        transition: transform 200ms ease-in-out;

        &:hover {
            transform: scale(1.03);
            background-color: var(--darkRaspberry);
        }
    }

    .viewmode__buttonfav {
        width: 190px;
        height: 50px;
        background-color: white;
        border: 1px transparent solid;
        border-radius: 4px;
        color: var(--raspberry);
        font-size: 1.2rem;
        cursor: pointer;
        transition: all 200ms ease-in-out;

        &:hover {
            transform: scale(1.03);
            background-color: var(--platinum);
        }
    }

}