.viewmode {
    width: 100%;
    height: 100%;
    background-color: rgba(215,215,215,0.7);
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viewmode__card {
    width: 93%;
    height: fit-content;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    background-color: var(--platinum);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.viewmode__poster {
    width: fit-content;
    height: fit-content;
    margin: 20px;
}

.viewmode__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
    margin-right: 20px;
    font-size: 1.2rem;
}

.viewmode__infotoolbar {
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
}

.info__title {
    font-size: 2rem;
    font-weight: bold;
}

.rating {
    font-size: 1.8rem;
    width: 125px;
    display: flex;
    min-width: fit-content;
    justify-content: space-between;
}

.viewmode__exitbutton {
    width: fit-content;
    position: absolute;
    width: 35px;
    height: 35px;
    display: flex; 
    justify-content: center;
    align-items: center;
    cursor: pointer;
    top: 10px;
    right: 15px;
    transition: all 300ms ease;
}