/* Variables & General Page Styling */
:root {
  --raspberry: #DB2955;
  --darkRaspberry: #C02148;
  --gunmetal: #183642;
  --spaceCadet: #313d5a;
  --darkSpaceCadet: #232b40;
  --midSpaceCadet: #465780;
  --lavenderBlue: #CBC5EA;
  --mixSpaceCadet: #5b7189;
  --platinum: #EAEAEA;
  --celadonGreen: #048A81;
  --modifiedSpaceCadet: #9cc3d2;
  font-size: 16px;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Body Styling*/
body, html {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.body__wrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 100%;
  width: 100%;
  background-color: var(--spaceCadet);
  background: #313d5a;
  background: linear-gradient(58deg, #313d5a 0%, #9cc3d2 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  height: 100%;
  /* background: rgb(49,61,90);
    background: linear-gradient(145deg, rgba(49,61,90,1) 0%, rgba(4,138,129,1) 100%); */
  /* background-color: var(--gunmetal);
    background: rgb(24,54,66);
    background: radial-gradient(circle, rgba(24,54,66,1) 0%, rgba(22,33,40,1) 100%); */
}

/* Animations */
@-webkit-keyframes moveUp {
  0% {
    margin-top: 0px;
    opacity: 1;
  }
  50% {
    opacity: 0.97;
  }
  100% {
    margin-top: -700px;
    opacity: 0;
  }
}
@keyframes moveUp {
  0% {
    margin-top: 0px;
    opacity: 1;
  }
  50% {
    opacity: 0.97;
  }
  100% {
    margin-top: -700px;
    opacity: 0;
  }
}

#animationUp {
  -webkit-animation: moveUp 500ms forwards ease;
          animation: moveUp 500ms forwards ease;
}

@-webkit-keyframes posterUp {
  0% {
    margin-top: 500px;
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes posterUp {
  0% {
    margin-top: 500px;
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}

#posterAnimationUp {
  -webkit-animation: posterUp 500ms forwards;
          animation: posterUp 500ms forwards;
}

/* Navbar */
.navbar {
  height: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar__container {
  width: 100%;
  max-width: 1300px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Navbar logo */
.navbar__logo {
  height: 80px;
  margin: auto 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 99;
}

.navbar__logo .fa-search {
  color: var(--platinum);
  font-size: 1.65rem;
}

.logo__link {
  text-decoration: none;
}

.logo {
  color: white;
  font-size: 2rem;
  padding-bottom: 4px;
}

.navbar__logo span {
  color: var(--raspberry);
}

/* Navbar list + search + darkmode */
.navbar__rightside {
  height: 80px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}

/* Navbar List */
.navbar__menu {
  height: 100%;
  width: 275px;
  font-size: 1.2rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60%;
  width: 100%;
  color: white;
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
}

.navbar__link::after {
  position: absolute;
  content: '';
  background: var(--raspberry);
  height: 2px;
  bottom: 0;
  -webkit-transition: width 250ms ease-in-out, left 250ms ease-in-out;
  transition: width 250ms ease-in-out, left 250ms ease-in-out;
  width: 0;
  left: 50%;
}

.navbar__link:hover::after {
  width: 100%;
  left: 0;
}

.navbar__link:hover {
  color: var(--raspberry);
}

/* Navbar Search */
.navbar__searchbox {
  height: 22.5px;
  width: 200px;
  margin-left: 30px;
  outline: none;
  border: transparent solid;
  background-color: #fff;
  border-radius: 20px;
  padding: 0px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.03), 0 0 2px 2px rgba(0, 0, 0, 0.02), 0 4px 4px rgba(0, 0, 0, 0.01), 0 6px 8px rgba(0, 0, 0, 0.01);
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.03), 0 0 2px 2px rgba(0, 0, 0, 0.02), 0 4px 4px rgba(0, 0, 0, 0.01), 0 6px 8px rgba(0, 0, 0, 0.01);
}

.navbar__searchbox:hover .fa-search {
  color: var(--raspberry);
}

.searchbox__input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 85%;
  height: 100%;
  color: var(--spaceCadet);
}

.searchbox__submitbutton {
  border: none;
  background-color: transparent;
  outline: none;
}

.fa-search {
  color: var(--spaceCadet);
  cursor: pointer;
}

/* Navbar darkmode toggle */
.navbar__darkmode {
  width: 40px;
  height: 22.5px;
  background-color: white;
  margin: auto 30px;
  border: transparent 3px solid;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.03), 0 0 2px 2px rgba(0, 0, 0, 0.02), 0 4px 4px rgba(0, 0, 0, 0.01), 0 6px 8px rgba(0, 0, 0, 0.01);
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.03), 0 0 2px 2px rgba(0, 0, 0, 0.02), 0 4px 4px rgba(0, 0, 0, 0.01), 0 6px 8px rgba(0, 0, 0, 0.01);
}

.navbar__darkmode:hover .fa-moon {
  color: var(--raspberry);
}

.navbar__darkmode:focus {
  outline: none;
}

.darkmode__toggle {
  height: 19.5px;
  width: 19.5px;
  background-color: var(--modifiedSpaceCadet);
  border-radius: 25px;
  margin-right: 15px;
  margin-left: -1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  -webkit-transition-timing-function: cubic-bezier(0, 1.78, 0.61, 0.76);
          transition-timing-function: cubic-bezier(0, 1.78, 0.61, 0.76);
}

.darkmode__toggle.active {
  margin-right: -0.5px;
  margin-left: 15px;
}

.fa-moon {
  color: var(--spaceCadet);
  margin-left: -1px;
}

.fa-moon.active {
  color: var(--raspberry);
  margin-left: -1px;
}

.navbar__mobileSearch {
  display: none;
}

/* Main Content */
.content {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__container {
  height: 100%;
  width: 90%;
  max-width: 1300px;
}

/* Movie Mode Elements */
.content__container {
  margin: 5px;
  width: auto;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  z-index: 0;
}

.moviePosters {
  margin: 10px 10px;
  border-radius: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 275px;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.moviePosters::after {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 0;
  background: #db2955;
  background: -webkit-gradient(linear, left bottom, left top, from(#db2955), to(rgba(219, 41, 85, 0)));
  background: linear-gradient(0deg, #db2955 0%, rgba(219, 41, 85, 0) 100%);
  opacity: 0.7;
  -webkit-transition: height 200ms ease;
  transition: height 200ms ease;
}

.moviePosters:hover::after {
  height: 100%;
}

.moviePosters:hover {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

.moviePosters__info {
  display: none;
  position: absolute;
  z-index: 99;
  bottom: 10px;
  left: 10px;
  width: 100%;
  color: var(--platinum);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 0.7rem;
}

.moviePosters__info .fa-star {
  margin-right: 5px;
  font-size: 1rem;
}

.moviePosters:hover .moviePosters__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.viewmode {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
}

.viewmode::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.85;
  background: #db2955;
  background: -webkit-gradient(linear, right top, left top, from(#db2955), to(rgba(219, 41, 85, 0)));
  background: linear-gradient(270deg, #db2955 0%, rgba(219, 41, 85, 0) 100%);
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  pointer-events: none;
}

.viewmode::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background: black;
}

.viewmode__card {
  width: 93%;
  max-width: 1200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  z-index: 1;
  border-radius: 5px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  color: white;
}

.viewmode__poster {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 20px;
  border-radius: 15px;
  overflow: hidden;
  min-width: 340px;
  max-height: 510px;
}

.viewmode__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 500px;
  margin-right: 20px;
  font-size: 1.3rem;
}

.info__title {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.rating {
  font-size: 1.45rem;
  width: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rating .ratingbox {
  width: 75px;
  height: 35px;
  background-color: var(--raspberry);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
  padding-top: 3px;
  margin-right: 12.5px;
}

.rating .ratingbox .fa-star {
  font-size: 1.2rem;
  margin-right: 3px;
  margin-bottom: 4px;
}

.rating .info__numberofratings {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1rem;
}

.viewmode__exitbutton {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  top: -30px;
  left: 20px;
  font-size: 2rem;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.viewmode__buttoncontainer {
  color: white;
  margin-top: 15px;
}

.viewmode__buttoncontainer .viewmode__buttontrailer {
  width: 190px;
  height: 50px;
  background-color: var(--raspberry);
  border: 1px var(--raspberry) solid;
  border-radius: 4px;
  color: white;
  font-size: 1.2rem;
  margin-right: 10px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.viewmode__buttoncontainer .viewmode__buttontrailer:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  background-color: var(--darkRaspberry);
}

.viewmode__buttoncontainer .viewmode__buttonfav {
  width: 190px;
  height: 50px;
  background-color: white;
  border: 1px transparent solid;
  border-radius: 4px;
  color: var(--raspberry);
  font-size: 1.2rem;
  cursor: pointer;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.viewmode__buttoncontainer .viewmode__buttonfav:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  background-color: var(--platinum);
}

.slider {
  position: relative;
  z-index: 0;
  width: 1280px;
  overflow: hidden;
  height: 675px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.slider::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60%;
  opacity: 0.45;
  background: #db2955;
  background: -webkit-gradient(linear, left bottom, left top, from(#db2955), to(rgba(219, 41, 85, 0)));
  background: linear-gradient(0deg, #db2955 0%, rgba(219, 41, 85, 0) 100%);
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  pointer-events: none;
}

.slider:hover::after {
  opacity: 0.7;
  height: 60%;
}

.slider:hover .sliderTitle {
  opacity: 0.95;
}

.slider .slider__inner {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  -webkit-transition: left 400ms ease;
  transition: left 400ms ease;
}

.slider .backdropimage {
  width: 1280px;
  position: relative;
  left: auto;
  color: white;
  -webkit-transition: left 400ms ease;
  transition: left 400ms ease;
}

.slider .sliderTitle {
  position: absolute;
  z-index: 1;
  left: 20px;
  bottom: 7px;
  font-size: 1.2rem;
  opacity: 0.75;
  color: white;
  -webkit-transition: left 200ms ease, opacity 200ms ease;
  transition: left 200ms ease, opacity 200ms ease;
}

.slider .sliderTitle .backdropinfo {
  background: #eaeaea;
  background: linear-gradient(93deg, #eaeaea 0%, white 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.slider .arrowleft {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  left: 15px;
  top: 47%;
  font-size: 2.5rem;
  color: white;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.slider .arrowleft:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.slider .arrowright {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  right: 15px;
  top: 47%;
  font-size: 2.5rem;
  color: white;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.slider .arrowright:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

/* Mobile Media Query */
@media screen and (max-width: 860px) {
  .navbar__searchbox {
    display: none;
  }
  /* Mobile search box nav */
  .navbar__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar__mobileSearch {
    display: block;
    position: relative;
    z-index: 99;
    width: 90%;
    background-color: var(--mixSpaceCadet);
    border: var(--mixSpaceCadet) 3px solid;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.03), 0 0 2px 2px rgba(0, 0, 0, 0.02), 0 4px 4px rgba(0, 0, 0, 0.01), 0 6px 8px rgba(0, 0, 0, 0.01);
            box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.03), 0 0 2px 2px rgba(0, 0, 0, 0.02), 0 4px 4px rgba(0, 0, 0, 0.01), 0 6px 8px rgba(0, 0, 0, 0.01);
  }
  /* Mobile Logo */
  .navbar__logo {
    display: none;
  }
  .mobileSearch__logoLink {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 130px;
    background-color: transparent;
    border-radius: 10px;
    padding: 0px 10px;
    position: relative;
    z-index: 1;
    text-decoration: none;
  }
  .mobileSearch__logo {
    width: auto;
  }
  .mobileSearch__logo .fa-search {
    font-size: 1.1rem;
    color: var(--platinum);
    margin-left: 5px;
  }
  .logo {
    font-size: 1.5rem;
    color: var(--platinum);
  }
  .logo span {
    color: var(--raspberry);
  }
  /* Mobile search input */
  .mobileSearch__input {
    width: 90%;
    margin: auto 2px;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    color: var(--platinum);
  }
  .mobileSearch__input:focus {
    outline: none;
  }
  /* Mobile hamburger menu */
  .mobileSearch__hamburger {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 7.5px 10px;
    padding: 1px 0px;
    max-width: 80px;
    height: 22.5px;
    padding-top: 1px;
    cursor: pointer;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .hamburger__bar {
    display: block;
    width: 30px;
    height: 2px;
    background-color: var(--platinum);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .hamburger__bar:not(:nth-child(1)) {
    margin-top: 6px;
  }
  .hamburger__bar:nth-child(2) {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
  /* Mobile hamburger menu (.active) */
  .hamburger__bar.active:nth-child(1) {
    -webkit-transform: rotate(405deg) translateY(11px);
            transform: rotate(405deg) translateY(11px);
  }
  .hamburger__bar.active:nth-child(2) {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
    opacity: 0;
  }
  .hamburger__bar.active:nth-child(3) {
    -webkit-transform: rotate(-45deg) translateY(-11px);
            transform: rotate(-45deg) translateY(-11px);
  }
  /* Mobile dropdown menu (rightside div is dropdown) */
  .navbar__rightside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: var(--mixSpaceCadet);
    /* background: rgb(70,87,128);
        background: linear-gradient(90deg, rgba(70,87,128,1) 0%, rgba(49,61,90,1) 100%); */
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 0px;
    width: 90%;
    position: absolute;
    top: 45px;
    opacity: 1;
    overflow: hidden;
    border-radius: 7.5px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .navbar__link {
    color: var(--platinum);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .navbar__link:hover {
    color: var(--raspberry);
  }
  .navbar__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .navbar__darkmode {
    margin-top: 20px;
  }
  /* Mobile dropdown menu (.active) */
  .navbar__rightside.active {
    top: 50px;
    height: 300px;
    opacity: 1;
    padding: 0% 0px 5% 0px;
  }
}

@media screen and (max-width: 1215px) {
  .slider .backdropimage .backdropinfo {
    font-size: 1.2rem;
  }
  .slider .sliderTitle {
    position: fixed;
    left: 19px;
    top: 669px;
  }
  .slider .arrowleft {
    position: fixed;
    top: 397px;
  }
  .slider .arrowright {
    position: fixed;
    top: 397px;
    right: 30px;
  }
}

@media screen and (max-width: 860px) {
  .slider {
    width: 780px;
    height: 425px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .slider .backdropimage {
    width: 780px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .slider .sliderTitle {
    position: fixed;
    left: 35px;
    top: 425px;
    font-size: 0.75rem;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .slider .arrowleft {
    position: fixed;
    top: 280px;
    left: 20px;
  }
  .slider .arrowright {
    position: fixed;
    top: 280px;
    right: 35px;
  }
}
/*# sourceMappingURL=style.css.map */